@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-foreground: #0f3c5a;

  --color-brand-red: #e94242;
  --color-brand-blue: #0f3c5a;
  --color-brand-gray: #c7d4dd;
  --color-brand-light: #f9fafb;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
html {
  scroll-behavior: smooth;
}
